html {
  scroll-behavior: smooth;
}

.questionLabel{
  background-color: #eaf0f9;
  border: solid 1px;
  padding: 10px;
}

.mainColumn{
  width: 80%;
  max-width: 600px;
  margin-bottom: 50px;
}

.answersBox{
  margin-left: 15px;
}

.qLabel{
  padding-left: 20px;
}

.languageBoxes{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.submitButton{
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.hideBox{
  display:none;
}

.firstBox {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #dee9f9;

}
.secondBox {

  grid-column-start: 2;a
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #dcf4f7;

}
.thirdBox {

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #d9dcf7;

}
